body{
    background: #F8F9FA;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

input {
    padding: 5px 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 10px;
    background-color: #DEE2E6;
    border: 5px solid #E9ECEF;
}

.app-title{
    text-align: center;
    color: #212529;
    font-size: 70px;
}

.container{
    background-color: #E9ECEF;
}

.sub_container{
    padding: 30px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.add-btn{
    background: #CED4DA;
    margin: 2vw;
    border-radius: 0px;
    border: 0px solid;
    padding: 7px 10px;
}